# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
# IntelliJ
.idea/
*.iml
*.ipr
*.iws
.idea/
out/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
build/

# Symbolication related
app.*.symbols
# Android
android/key.properties
android/local.properties
android/.gradle/
android/app/build/

# Obfuscation related
app.*.map.json
# iOS
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/engine.version
ios/Flutter/flutter_assets/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
ios/ServiceDefinitions.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugins.cmake
windows/runner/Debug/
windows/runner/Profile/
windows/runner/Release/

# Linux
linux/flutter/ephemeral/
linux/flutter/generated_plugins.cmake
linux/runner/Debug/
linux/runner/Profile/
linux/runner/Release/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner/build/
macos/Runner.xcworkspace/
